@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33% 96%;
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 142 60% 35%;
    --primary-foreground: 142 20% 95%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 35 55% 45%;
    --accent-foreground: 35 20% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --warning: 38 92% 50%;
    --warning-foreground: 38 90% 10%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 142 60% 35%;
    --chart-1: 142 60% 35%;
    --chart-2: 35 55% 45%;
    --chart-3: 142 50% 45%;
    --chart-4: 35 45% 55%;
    --chart-5: 142 40% 55%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 142 60% 35%;
    --sidebar-primary-foreground: 142 20% 95%;
    --sidebar-accent: 240 5% 96%;
    --sidebar-accent-foreground: 240 6% 10%;
    --sidebar-border: 240 6% 90%;
    --sidebar-ring: 142 60% 35%;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 60 9% 98%;
    --card: 24 10% 12%;
    --card-foreground: 60 9% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 9% 98%;
    --primary: 142 71% 45%;
    --primary-foreground: 142 83% 9%;
    --secondary: 142 18% 18%;
    --secondary-foreground: 60 9% 98%;
    --muted: 142 18% 18%;
    --muted-foreground: 24 5% 65%;
    --accent: 35 71% 55%;
    --accent-foreground: 35 9% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 60 9% 98%;
    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;
    --border: 142 18% 18%;
    --input: 142 18% 18%;
    --ring: 142 71% 45%;

    --sidebar-background: 24 10% 12%;
    --sidebar-foreground: 60 9% 98%;
    --sidebar-primary: 142 71% 45%;
    --sidebar-primary-foreground: 142 83% 9%;
    --sidebar-accent: 142 18% 18%;
    --sidebar-accent-foreground: 60 9% 98%;
    --sidebar-border: 142 18% 22%;
    --sidebar-ring: 142 71% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
